# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# pagefind
public/pagefind

# 草稿目录（保留 README.md，忽略其他草稿文件）
src/content/posts/_drafts/*
!src/content/posts/_drafts/README.md
# pnpm
.pnpm-store

# docker compose
compose.override.yaml
